{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <section class="section1">
        <p>Section 1</p>
    </section>

    <section class="section2">
        <p>Section 2</p>
    </section>

    <section class="section3">
        <p>Section 3</p>
    </section>

    <section class="section4">
        <p>Section 4</p>
    </section>

    <section class="section5">
        <p>Section 5</p>
    </section>
{% endblock %}
