@import 'variables.scss';
// All in the website
*,
*::after,
*::before {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body {
    background-color: $primary-color;
}

//Reusable class

@mixin display-flex-column {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

@mixin display-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@mixin style-link {
    text-decoration: none;
}

@mixin style-list {
    list-style-type: none;
}

.nav-container {
    height: 20vh;
    @include display-flex-column();

        a {
            @include style-link();
        }

        li {
            @include style-list();
        }
}

.section1 {
    height: 80vh;
}

.section2, .section3, .section4 {
    height: 100vh;
}

.section5 {
    height: 70vh;
}

.footer-container {
    height: 10vh;
    @include display-flex-row();

    a {
        @include style-link();
    }
}
