@import 'variables.scss';
// All in the website
*,
*::after,
*::before {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $primary-color;
}

//Reusable class

@mixin display-flex-column {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

@mixin display-flex-row($justifyContent: center, $alignItems: center) {
    display: flex;
    flex-direction: row;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

@mixin style-link {
    text-decoration: none;
}

@mixin style-list {
    list-style-type: none;
}

@mixin margin {
    margin: 1rem;
}

@mixin padding {
    padding: 1rem;
}

@mixin border{
    border: 1px solid black;
}

header {
    height: 20vh;
}

.nav-container {
    height: 20vh;
    @include display-flex-column();

        a {
            @include style-link();
        }

        li {
            @include style-list();
        }
}

.section1 {
    height: 80vh;
    @include display-flex-column();
    background-image: url('../images/moi.jpg');
    background-size: cover;
    background-position: center;
}

.section2, .section3, .section4 {
    min-height: 100vh;
    @include display-flex-column();
}

.about-container {
    @include display-flex-column();

    div {
        @include border();
        @include padding();
        @include margin();
        p {
            @include padding();
        }
    }
        
}

.wrapper {
    @include display-flex-row(initial);
    overflow: auto;
    @include padding();

    .project-container {
        @include display-flex-column();
        @include margin();
        max-width: 350px;
        flex-shrink: 0;

        img {
            width: auto;
            max-height: 50vh;
        }
    }
}

.skill-container {
    @include display-flex-column();
    display: block;

    div {
        @include margin();
        @include padding();
        @include border();
        @include display-flex-row();
    }
}

.section5 {
    height: 90vh;

    form {
        @include display-flex-column();
        margin: auto;
        width: 50%;

        input {
            padding: 0.5rem;
            font-size: 1rem;;
            margin-bottom: 1rem;
            text-align: center;
        }
    }
}

.footer-container {
    height: 10vh;
    @include display-flex-row();

    a {
        @include style-link();
    }
}
