<div class="footer-container">
    <div><img src="{{ asset('build/images/copyright.png') }}" alt="Copyright"></div>
    {% if app.user %}
        <a href="{{ path('app_logout') }}">Corentin Chalons</a>
    {% else %}
        <a href="{{ path('login') }}">Corentin Chalons</a>
    {% endif %}
</div>