<div class="footer-container">
    <p>Copyright</p>
    <p>Thanks</p>
    {% if app.user %}
        <a href="{{ path('app_logout') }}">logout</a>
    {% else %}
        <a href="{{ path('login') }}">login</a>
    {% endif %}
</div>