<nav class="nav-container">
    <p>Corentin Châlons</p>
    <ul>
        <li> <a href="#s2">About me</a> </li>
        <li> <a href="#s3">Projects</a> </li>
        <li> <a href="#s4">Skills</a> </li>
        <li> <a href="#s5">Contact</a> </li>
    </ul>
</nav>