<nav class="display-flex-column">
    <p>Corentin Châlons</p>
    <ul class="display-flex-column">
        <li class="style-list"> <a class="style-link" href="#">About me</a> </li>
        <li class="style-list"> <a class="style-link" href="#">Projects</a> </li>
        <li class="style-list"> <a class="style-link" href="#">Skills</a> </li>
        <li class="style-list"> <a class="style-link" href="#">Contact</a> </li>
    </ul>
</nav>